.sectionTwo{
    @include taille (100%,800px);
    #{$bg}:#1d1d1d;
    @include flexbox (flex,column,space-evenly);
     h1{
        font-size: 3em;
        font-family: sans-serif;
        font-weight: bolder;
        color: white;
        span{
            color: rgb(40, 171, 215);
        }
     }
     .block{
        @include taille (100%,60%);
        @include flexbox (flex,row,space-evenly);
        flex-wrap: wrap;
        .blockOne{
            @include taille (40%,74%);
            border-radius: 5%;
            box-shadow: 0 0 11px 0 rgb(0, 180, 240);
            overflow: hidden;
            animation: up 3s ease 0s infinite;
            img{
                #{$w}:100%;
            }
            @keyframes up {
                0%{transform: translateX(0%);}
                50%{transform: translateX(4%);}
                100%{transform: translateX(0%);}
            }
        }
        .blockTwo{
            @include taille (40%,90%);
            @include flexbox (flex,column,space-evenly);
            i{
                font-size: 8em;
                color:#304cc8;
            }
            h3{
                font-size: 1.5em;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
                text-align: justify;
                margin: 0 10%;
                color: white;
            }
        }
     }
}